* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   background: rgb(25, 27, 59);
   background: radial-gradient(
      circle,
      rgba(25, 27, 59, 1) 0%,
      rgba(45, 47, 92, 1) 100%
   );
   background-repeat: no-repeat;
   height: 100vh;
}
