* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   background: #3a4fda;
   background: -webkit-linear-gradient(bottom right, #2034b3, #18051c);
   background: -moz-linear-gradient(bottom right, #2034b3, #18051c);
   background: linear-gradient(to top left, #1c2b8f, #200725);
   background-repeat: no-repeat;
   transition: all 0.5s linear;
   scroll-behavior: smooth;
}

body::-webkit-scrollbar {
   width: 15px;
}

body::-webkit-scrollbar-track {
   background: #ff6348;
   background: -webkit-linear-gradient(to right, #1c2b8f 0%, #18051c 100%);
   background: -moz-linear-gradient(to right, #2034b3 0%, #18051c 100%);
   background: linear-gradient(to right, #2034b3 0%, #200725 100%);
}

body::-webkit-scrollbar-thumb {
   border-radius: 10px; /* roundness of the scroll thumb */
   border: 3px solid orange; /* creates padding around scroll thumb */
}
